{% if info.prev %}
    {% set prevUrl = info.prev %}
    {% set prevParts = prevUrl|split('/') %}
    {% set prevLastPart = prevParts|last %}
    {% set prevPage = prevLastPart|split('=')|last %}
{% endif %}

{% if info.next %}
    {% set nextUrl = info.next %}
    {% set nextParts = nextUrl|split('/') %}
    {% set nextLastPart = nextParts|last %}
    {% set nextPage = nextLastPart|split('=')|last %}
{% endif %}

<nav class="inline-block">
    <ul class="md:inline-flex pagination">
        {% if info.prev %}
            <li class="pagination-item">
                <a href="/{{ pageName }}/{{ prevPage }}" class="px-1 py-1 ml-1 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700">Previous</a>
            </li>
        {% endif %}

        {% for i in 1..info.pages %}
            <li class="pagination-item">
                {% if i == page %}
                    <a href="/{{ pageName }}/{{ i }}" class="px-1 py-1 ml-1 leading-tight text-gray-700 bg-gray-100 border border-gray-300 hover:bg-gray-100 hover:text-gray-700">{{ i }}</a>
                {% else %}
                    <a href="/{{ pageName }}/{{ i }}" class="px-1 py-1 ml-1 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">{{ i }}</a>
                {% endif %}
            </li>
        {% endfor %}


        {% if info.next %}
            <li class="pagination-item">
                <a href="/{{ pageName }}/{{ nextPage }}" class="px-1 py-1 ml-1 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700">Next</a>
            </li>
        {% endif %}
    </ul>
</nav>
