{% extends "layout.twig" %}
{% block content %}
    {% if cards == null %}

        <h1>Not found!</h1>

    {% else %}

        <div class="grid place-items-up place-items-center">
            <div class="h-56 grid grid-cols-1 gap-12 content-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Characters in this
                    Episode:</h5>
                {% for card in cards %}

                    <div class="shadow-[0_35px_60px_-15px_rgba(0,0,0,0.3)] max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ card.name }}</h5>
                        <p class="mb-2 text-1xl tracking-tight text-gray-900 dark:text-white">
                            ID:{{ card.id }} </p>
                        <p class="mb-2 text-1xl tracking-tight text-gray-900 dark:text-white"> Air
                            Date:{{ card.airDate }} </p>
                        <p class="mb-2 text-1xl tracking-tight text-gray-900 dark:text-white">
                            Episode:{{ card.episode }} </p>
                        <p class="mb-2 text-1xl tracking-tight text-gray-900 dark:text-white">
                            Created:{{ card.created }} </p>

                    </div>
                {% endfor %}

            </div>
            <br><br><br><br><br><br><br><br>

            <div class="grid place-items-up place-items-center">
                <div class="h-56 grid grid-cols-3 gap-12 content-normal ">

                    {% for character in additionalInfo %}

                    <a href="/character/{{ character.id }}">
                        <div class="hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 shadow-[0_35px_60px_-15px_rgba(0,0,0,0.3)] max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                            <div class="myBox">
                                <img src="{{ character.imageUrl }}" alt="{{ character.name }}">
                                <p>{{ character.name }}</p>
                            </div>
                        </div>

                        {% endfor %}
                    </a>

                </div>
            </div>
        </div>

    {% endif %}
{% endblock %}
