{% extends "layout.twig" %}
{% block content %}
    {% if cards == null %}

        <h1>Not found!</h1>

    {% else %}

        <div class="grid place-items-up place-items-center">
            <div class="h-56 grid grid-cols-3 gap-12 content-normal">

                {% for card in cards %}

                    <div class="shadow-[0_35px_60px_-15px_rgba(0,0,0,0.3)] max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ card.name }}</h5>
                        <p class="mb-2 text-1xl tracking-tight text-gray-900 dark:text-white"> ID:{{ card.id }} </p>
                        <p class="mb-2 text-1xl tracking-tight text-gray-900 dark:text-white"> Type:{{ card.type }} </p>
                        <p class="mb-2 text-1xl tracking-tight text-gray-900 dark:text-white">
                            Dimension:{{ card.dimension }} </p>
                        <p class="mb-2 text-1xl tracking-tight text-gray-900 dark:text-white">
                            Created:{{ card.created }} </p>

                        {#                <p class="mb-2 text-1xl tracking-tight text-gray-900 dark:text-white">Residents:</p> #}

                        {#                {% for resident in card.residents %} #}
                        {#                    <a href="{{ resident }}" #}
                        {#                       class="font-medium text-blue-600 dark:text-blue-500 hover:underline">{{ resident }}</a> #}

                        {#                {% endfor %} #}


                    </div>
                {% endfor %}
            </div>
        </div>

    {% endif %}
    {% for i in 0..pages %}

        <nav aria-label="Page navigation example">
            <ul class="place-items-center inline-flex -space-x-px">
                <li>
                    <a href="/locations/{{ i }}"{{ i }}
                       class="px-5 py-1 ml-1 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ i }}</a>
                </li>
            </ul>
        </nav>

    {% endfor %}
{% endblock %}
