{% extends "Layout.twig" %}

{% block content %}
    {% if card is null %}
        <h1>Not found!</h1>
    {% else %}
        <div class="grid place-items-up place-items-center">
            <div class="h-56 grid grid-cols-1 gap-12 content-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Characters in this Episode:</h5>
                <div class="shadow-[0_35px_60px_-15px_rgba(0,0,0,0.3)] max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">{{ card.name }}</h5>
                    <p class="mb-2 text-1xl tracking-tight text-gray-900">ID: {{ card.id }}</p>
                    <p class="mb-2 text-1xl tracking-tight text-gray-900">Air Date: {{ card.airDate }}</p>
                    <p class="mb-2 text-1xl tracking-tight text-gray-900">Episode: {{ card.episode }}</p>
                    <p class="mb-2 text-1xl tracking-tight text-gray-900">Created: {{ card.created }}</p>
                </div>
            </div>
            <div style="height: 180px;"></div>
            <div class="grid place-items-center container mx-auto px-4">
                <div class="grid md:grid-cols-3 gap-8 content-normal mx-auto sm:grid-cols-1">
                    {% for character in info %}
                        <a href="/character/{{ character.id }}">
                            <div class="map animate-fade-in hover-bg-gray-100 max-w-sm shadow-[0_35px_60px_-15px_rgba(0,0,0,0.3)] p-6 bg-white border border-gray-200 rounded-lg shadow">
                                <div class="myBox">
                                    <img src="{{ character.imageUrl }}" alt="{{ character.name }}">
                                    <p>{{ character.name }}</p>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div style="height: 120px;"></div>
    {% endif %}
{% endblock %}
