<div class="dark:bg-slate-800 container mx-auto px-4">
    <div class="grid md:grid-cols-3 gap-8 content-normal sm:grid-cols-1">
        {% for card in cards %}
            <a href="/character/{{ card.id }}">
                <div class="shadow-[0_35px_60px_-15px_rgba(0,0,0,0.3)] max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow map animate-fade-in hover:bg-gray-100 mx-auto">

                    <img src="{{ card.image }}" alt="{{ card.name }}" class="mx-auto">
                    <div style="height: 30px;"></div>
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">{{ card.name }}</h5>
                    <div style="height: 30px;"></div>
                    <div class="border border-transparent">
                        <table class="min-w-full">
                            <tbody>
                            {% if card.status is not empty %}
                                <tr class="border-b">
                                    <td class="pb-2 pr-2"><strong>ID:</strong></td>
                                    <td class="pb-2 mb-2">{{ card.id }}</td>
                                </tr>
                                <tr class="border-b">
                                    <td class="pb-2 pr-2"><strong>Status:</strong></td>
                                    <td class="pb-2 mb-2">{{ card.status }}</td>
                                </tr>
                            <tr class="border-b">
                            {% endif %}

                            {% if card.species is not empty %}
                                <tr class="border-b">
                                    <td class="pb-2 pr-2"><strong>Species:</strong></td>
                                    <td class="pb-2 mb-2">{{ card.species }}</td>
                                </tr>
                            {% endif %}

                            {% if card.episodeName is not empty %}
                                <tr class="{{ card.status is not empty or card.species is not empty ? 'border-b' : '' }}">
                                    <td class="pb-2 pr-2"><strong>First Seen In:</strong></td>
                                    <td class="pb-2 mb-2">{{ card.episodeName }}</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>

                    </div>

                </div>
            </a>
        {% endfor %}
    </div>
</div>
<div style="height: 50px;"></div>
{% include '/Includes/Pagination.twig' %}