{% extends "Layout.twig" %}
{% block content %}
    {% if cards == null %}

        <h1>Not found!</h1>

    {% else %}
        <div class="grid place-items-up place-items-center">
            <div
                    class="flex flex-col items-center bg-white border border-gray-200 rounded-lg  ">
                <br>
                {% for card in cards %}

                <div class="shadow-[0_35px_60px_-15px_rgba(0,0,0,0.3)] max-w-sm p-6 bg-white border border-gray-200
                 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <img><img src="{{ card.image }}"></a></img>
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ card.name }}</h5>
                    <p class="mb-2 text-1xl tracking-tight text-gray-900 dark:text-white">{{ card.status }}
                        - {{ card.species }}</p>
                    <p> Last known location: </p>
                    <li>{{ card.location.name }}</li>
                    <p> Created: </p>
                    <li>{{ card.created }}</li>

                    {% endfor %}

                </div>

                <div class="flex flex-col justify-between p-4 leading-normal">

                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">

                    <div class="place-items-center "></div>
                    <div class="h-128 grid grid-cols-3 gap-1 content-normal ">

                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"> Seen in: </h5>

                        {% for episode in additionalInfo %}

                            <a href="/episode/{{ episode.id }}"
                               class="text-white bg-slate-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium
                               rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700
                               focus:outline-none dark:focus:ring-blue-800">{{ episode.episodeName }}</a>

                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>

        <br><br><br><br><br>

    {% endif %}

    <style>.pagination {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .pagination-item {
            margin-bottom: 0.5rem;
        }

        @media (min-width: 1300px) {
            .pagination {
                flex-wrap: nowrap;
            }
        }

        @keyframes fade-in {
            0% {
                opacity: 0;
                transform: translateY(20px);
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .animate-fade-in {
            animation: fade-in 0.5s ease-out;
        }

        .map {

            background-color: #f1f1f1;
            transition: transform 0.3s ease;
        }

        .map:hover {
            transform: scale(1.1);
        }</style

{% endblock %}

