<div class="container mx-auto px-4">
    <div class="grid md:grid-cols-3 gap-8 content-normal sm:grid-cols-1">
        {% for card in cards %}
            <a href="/location/{{ card.id }}">
                <div class="dark:bg-stone-950 shadow-[0_35px_60px_-15px_rgba(0,0,0,0.3)] max-w-sm p-6 bg-white border border-gray-200 dark:border-gray-800 rounded-lg shadow map animate-fade-in hover:bg-gray-100 mx-auto">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-rose-500">{{ card.name }}</h5>

                    <div style="height: 30px;"></div>

                    <table class="min-w-full">
                        <tbody>
                        <tr class="border-b">
                            <td class="pb-2 pr-2"><strong>ID:</strong></td>
                            <td class="pb-2 mb-2">{{ card.id }}</td>
                        </tr>
                        <tr class="border-b">
                            <td class="pb-2 pr-2"><strong>Type:</strong></td>
                            <td class="pb-2 mb-2">{{ card.type }}</td>
                        </tr>
                        <tr class="border-b">
                            <td class="pb-2 pr-2"><strong>Dimension:</strong></td>
                            <td class="pb-2 mb-2">{{ card.dimension }}</td>
                        </tr>
                        <tr class="border-b">
                            <td class="pb-2 pr-2"><strong>Created:</strong></td>
                            <td class="pb-2 mb-2">{{ card.created }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
<div style="height: 50px;"></div>
{% include '/Includes/Pagination.twig' %}